@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

html {
    background: black;

}

body {
    font: 14px "Poppins";
    background: white;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0px 0px 0px;
    min-width: 960px;
}

body > header{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    top: 0;
    position: fixed;
    
    
}
#logo {
    height: 10px;
    margin: auto auto auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo img {
    max-height: 300px;
    width: auto;
    float: left;
    margin-left: 20px;
}


footer{
    height: 100px;
    padding: 50px 0 0 0;
    color:white;
    font-size: 11px;
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    clip-path:polygon(0 30px, 100% 0, 100% 105%, 0 105%);

}

footer a{
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    color: #444444;
    text-shadow: 3px 3px 3px #aaaaaa;
    font-size: 2.5em;
    
}


article {
    
    max-width: 800px;
    min-height: 550px;
    margin: 0 auto;
    padding: 20px 50px 100px 50px;
}

article header {
    margin: auto auto 60px auto;
}

.kurziva {
    font-style: italic;
}

.centrovany {
    text-align: center;
    
}


.clanek {
    text-decoration: none;
    color: #484842;

}


article header{
    height: 80px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

article h1, article h2, article h3, article h3, article h4, article h5, article h6  {
    color: black;
    padding: 5px 0;
    
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    float: left;
    margin-right: 25px;
    font-size: 1.2em ;
    line-height: 4.3em ;
    padding: 0 25px;
}

nav ul a {
    color: black;
    padding: 8px 10px;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    border: none;
    cursor: pointer;
}


nav a:hover {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.tlacitkoPrihlas {
    background-color: #bcbcbc;
    border-radius: 7px;
}

.tlacitkoPrihlas:hover {
    background-color: #000000;
    color: white;
}

.tlacitkoProfil {
    background-color: #bcbcbc;
    border-radius: 7px;
}

.tlacitkoProfil:hover {
    background-color: #000000;
    color: white;
}

input[type="submit"] {
    background: grey;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px;
}

input[type="submit"]:hover {
    background: black;
    color: #eeeeee;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"]{
    width: 250px;
    border-radius: 5px;
    border: 1p solid grey;
    pad: 0.3em;
}

input[type="submit"] {
    padding: 10px 25px 10px 25px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
}

textarea{
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    width: 483px;
    height: 90px;
}

.zprava {
    border: 1px solid #f89d9d;
    background-color: #d5bce4;
    padding: 3px;
}


/* CSS na profil */
.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

/* CSS na domovskou stránku */
.team4 {
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

